<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>


    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.css">
    <link href="../css/style.css" rel="stylesheet">

    <script src="http://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="../js/angular/loginAngular.js"></script>


  </head>
  <body>
    <div layout="column" class="md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools bc-color"><span>Demo Sign Up</span></h2>
      </md-toolbar>
    </div>
    <div ng-app="LoginApp" ng-controller="LoginCtrl" layout="column" layout-align="center center" layout-fill="layout-fill">
      <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
          <h2 class="md-toolbar-tools bc-color"><span>Sign Up</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
          <md-input-container>
            <label>Firstname</label>
            <input type="text" ng-model="firstname"/>
          </md-input-container>
          <md-input-container>
            <label>Lastname</label>
            <input type="text" ng-model="lastname"/>
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="email"/>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="password"/>
          </md-input-container>
          <div layout="row" layout-align="center center" style="padding-top:20px;">
            <md-button class="md-raised md-primary bc-color" ng-click="signup()">Sign Up</md-button>
            <div flex="flex"></div>
            <md-button href="/login" md-no-ink="md-no-ink">Already have an account?</md-button>
          </div>
        </md-content>
      </div>
    </div>

  </body>
</html>
