<div class="row" data-ng-controller="">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <h5 class="no-padding no-margin copy-text">Heading</h5>
              <h6>hello world</h6>
            </div>
            <div class="col-xs-3">
              <div class="row no-padding no-margin">
                <center>
                  <a href="#" ng-click=""><span class="glyphicon glyphicon-remove pull-right"></span></a>
                </center>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
